body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header > h2{
    cursor: pointer;
    text-align: center;
}
header{
    display: flex;
    padding: 30px;
    background-color: #FAF6F0;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    position: relative;
    z-index: 1;
}
header > div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    flex: 1;
    background-color: #F4EAE0;
    display: flex;
}
aside{
    width: 40%;
    display: grid;
    place-items: center;
}
article{
    flex: 1;
}
.parent-container {
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(2,400px);
    gap: 20px;
}

.book{
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}
footer{
    background-color: #527853;
    color: white;
    text-align: center;
}
